Library/
Logs/
Temp/
UserSettings/
# Ignore everything in Packages except important files
Packages/*
!Packages/manifest.json
!Packages/packages-lock.json
.vscode/
*.csproj
*.sln
Thumbs.db
.DS_Store
*.unitypackage
.plastic/
Assets/ALP_Assets/
config/
